@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
::-webkit-scrollbar {
  width: 0;
}
html{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}
body{
  height: 100%;
  margin: 0px;
  background-color: #C3F3C0;
}
nav{
  width: 100%;
  height: 30px;
  background-color: #462255;
}
.header{
  width: 100%;
  min-height: 100px;
  background-color: #313B72;
}
.main{
  width: 70%;
  min-height: 100vh;
  background-color: #62A87C;
  margin: 0 auto;
  overflow: hidden;
  flex: 1 1 auto;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.king_header_h1{
  margin: 0px;
  text-align: center;
  font-size: 50px;
  padding: 15px;
}
.nav_p{
  margin: 0px;
  text-align: center;
  font-size: 20px;
  padding: 3px;
}
.header_main{
  width: 100%;
  background-color: #7EE081;
}
.header_main > h2{
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}
.main_article_1 > p{
  width: 50%;
  text-align: justify;
  margin: 0 auto;
  font-size: 25px;
  padding: 20px;
}
.main_article_1 > h2{
  margin: 0px;
  margin-top: 15px;
  font-size: 30px;
}
.main_article_1_image-1{
  width: 50%;
  display: block;
  margin: 0 auto;
}
